
<div class="container">
  <h1>Welcome to Stupid Coach</h1>
  <div class="col-6 mx-auto">
    <form class="d-flex flex-row" action="/result" data-turbo="false">
      <input class="form-control" type="text" name="question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
  </div>
</div>
